<br>
<br>
<br>
<br>
<div class="introContainer">
	<img src=./assets/images/logoType.png style="height:500px;">
	<h3 style="display:inline-block;">Stocket is a web application that allows users to observe changes in stock prices against news articles about a company.</h3>
</div>
