  <form class="text-center" action="/sign-up" method="POST">
    <h3>Create an Account:</h3>
      <input class="form-group" placeholder="Name" type="string" name="name" value=""><br>
      <input class="form-group" placeholder="Email" type="email" name="email" value=""><br>
      <input class="form-group" placeholder="Password" type="password" name="password"><br>
      <input class="form-group" placeholder="Confirm Password" type="password" name="confirmPassword"><br>
      <button class="btn btn-theme" type="submit">Sign Up!</button>
  </form>
